go 1.23.0

toolchain go1.23.1

use (
	.
	./core/access
	./core/auth
	./core/group
	./core/relation
	./core/system
	./core/tenant
	./core/user
	./domain/content
	./domain/resource
	./pkg
	./plugin/counter
	./plugin/sample
)
