go 1.23.0

toolchain go1.23.1

use (
	.
	./feature/access
	./feature/auth
	./feature/content
	./feature/group
	./feature/resource
	./feature/socket
	./feature/system
	./feature/tenant
	./feature/user
	./pkg
	plugin/counter
	plugin/sample
)
