<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>ncobase.service</string>
    <key>KeepAlive</key>
    <true/>
    <key>UserName</key>
    <string>root</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/ncobase/bin</string>
      <string>-conf</string>
      <string>/opt/ncobase/config.yaml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>5</integer>
    <key>StandardOutPath</key>
    <string>/opt/ncobase/log/out.log</string>
    <key>StandardErrorPath</key>
    <string>/opt/ncobase/log/err.log</string>
  </dict>
</plist>
